.App {
  display: flex;
  position: relative;
  left: 0;
  margin-left: -20rem;
  min-height: 100vh;
}

.App .App-name {
  font-family: 'Jacques Francois Shadow', cursive;
}

.App .App-description {
  font-family: 'Arvo', serif;
}

.App .App-meta {
  padding: 1rem;
  background-color: hsla(45,95%,95%,1);
  box-shadow: inset 0 0 2rem hsla(45,50%,80%,1);
  border-right: 1px #fff solid;
  box-sizing: border-box;
  width: 80%;
  max-width: 20rem;
  flex: none;
}

.App .App-main {
  flex-grow: 1;
}

.App-header {
  padding: 1rem 0;
  background-color: #fff;
  margin-bottom: 1rem;
}

.App-header .App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.App-header .icon {
  margin: 0.7rem 0 0 0;
  opacity: 0.5;
  font-size: 1.5rem;
  cursor: pointer;
}

.App-header .green.icon,
.App-header .red.icon,
.App-header .blue.icon,
.App-header .yellow.icon {
  opacity: 1;
  cursor: default;
}

.App-header .blue.icon {
  cursor: progress;
}

.App-body {
  padding-bottom: 2rem;
}

.App-body .Home-body {
  margin: 2rem 3rem 2rem 4rem;
}

.App-body .Body-wrapper {
  display: flex;
}

.App-body .Menu-wrapper {
  flex: none;
  width: 4rem;
  text-align: right;
}

.App-body .Menu-timestamp {
  font-size: 0.85em;
  display: block;
  opacity: 0.7;
  margin-left: -1rem;
  margin-top: 0.25em;
}

.App-body .Relation-wrapper {
  flex-grow: 1;
  padding-left: 2rem;
}

.App-body .Filter-message {
  color: rgba(0,0,0,0.7);
  font-size: 0.85rem;
  text-align: center;
}

.App-body .Relation.active {
  border: 2px #e03997 solid;
  margin: -1px!important;
}

.App-body .Relation .description {
  margin-top: -0.5em;
  color: rgba(0,0,0,0.7);
  font-size: 0.85rem;
}

.App-body .Relation a {
  opacity: 0.85;
}

.App-body .Relation .ui.horizontal.label {
  margin: 0 0.3em;
  color: inherit;
}

.App-body .Relation .ui.horizontal.label:first-child {
  margin-left: 0;
}

.App-body .Relation .ui.horizontal.label:last-child {
  margin-right: 0;
}

.App-body .Relation blockquote {
  margin: 1rem 1.5rem;
  position: relative;
  color: rgba(0,0,0,0.7);
}

.App-body .Relation blockquote .Author {
  font-size: 0.85rem;
  color: rgba(0,0,0,0.5);
  text-align: right;
  margin-right: -1rem;
  margin-top: 1em;
}

.App-body .Relation blockquote i.icon.quote {
  position: absolute;
  opacity: 0.3;
}

.App-body .Relation blockquote i.icon.left.quote {
  left: -1.5em;
}

.App-body .Relation blockquote i.icon.right.quote {
  right: -1.5em;
}

.App-body .Note-header {
  font-size: 0.85rem!important;
  font-weight: normal!important;
}

.App-body .Note-content {
  color: rgba(0,0,0,0.7);
}

.App-footer {
  color: rgba(0,0,0,0.5);
  font-size: 0.85rem;
}

.App-footer a {
  margin: 0 0.5rem;
  opacity: 0.7;
  display: inline-block;
}

.App-footer .wrapper {
  margin: 0 auto;
  padding: 0 4rem 2rem 4rem; 
}


@media only screen and (max-width: 767px) {
html, body {
  font-size: 14px;
}
.App-body .Home-body {
  margin: 2rem 2rem 2rem 3rem;
}
.App-body .Body-wrapper {
  margin: 0 -1rem;
}
.App-body .Relation-wrapper {
  padding-left: 0;
}
.App-body .Relation-wrapper article:last-child {
  margin-bottom: -2rem;
}
.App-body .Note-header {
  margin-top: -1rem!important;
  margin-bottom: 0.25rem!important;
  border-bottom: none!important;
}
.App-body .Note-content {
  margin-bottom: 1rem!important;
  padding-left: 1rem;
  border-left: 2px solid #00b5ad;
}
.App-footer .wrapper {
  padding-left: 0;
  padding-right: 0;
}
.App-header .wrapper {
  margin-left: 0!important;
}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
