.App {
}

.App-name {
  color: rgba(0,0,0,0.85);
  /*
  font-family: 'Love Ya Like A Sister', cursive;
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Special Elite', cursive;

  font-family: 'Unkempt', cursive;
  font-family: 'Life Savers', cursive;
  font-family: 'Kranky', cursive;
  font-family: 'Miltonian', cursive;
  font-family: 'Ribeye Marrow', cursive;
  */
  font-family: 'Jacques Francois Shadow', cursive;
}

.App-description {
  /*
  font-family: 'Glegoo', serif;
  font-family: 'Copse', serif;
  font-family: 'Belgrano', serif;
  */
  color: rgba(0,0,0,0.85);
  font-family: 'Arvo', serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 4rem;
  height: 3rem;
}

.App-header {
  padding: 1rem 0;
  background-color: #fff;
  margin-bottom: 1rem;
}

.App-body {
  padding-bottom: 2rem;
}

.App-footer {
  color: rgba(0,0,0,0.5);
  font-size: 0.85rem;
}

.App-footer a {
  margin: 0 0.5rem;
  opacity: 0.7;
  display: inline-block;
}
.App-footer .wrapper {
  margin: 0 auto;
  padding: 0 4rem 2rem 4rem; 
}

.Menu-timestamp {
  font-size: 0.85em;
  display: inline-block;
  opacity: 0.7;
}

.Relation-wrapper {
  margin-left: 4rem;
  padding-left: 2rem;
  position: relative;
}

.Relation-wrapper article:last-child .Relation {
  margin-bottom: -1rem;
}

.Relation.active {
  border: 2px #e03997 solid;
  margin: -1px!important;
}

.Relation .description {
  margin-top: -0.5em;
  color: rgba(0,0,0,0.7);
  font-size: 0.85rem;
}

.Relation a {
  opacity: 0.85;
}

.Note-header {
  font-size: 0.85rem!important;
  font-weight: normal!important;
}

.Note-content {
  color: rgba(0,0,0,0.7);
}

.Home-body {
  margin: 2rem 3rem 2rem 4rem;
}

.ui.horizontal.label {
  margin: 0 0.3em;
}

.ui.horizontal.label:first-child {
  margin-left: 0;
}

.ui.horizontal.label:last-child {
  margin-right: 0;
}

blockquote {
  margin: 1rem 1.5rem;
  position: relative;
  color: rgba(0,0,0,0.7);
}

blockquote .Author {
  font-size: 0.85rem;
  color: rgba(0,0,0,0.5);
  display: inline-block;
  margin-left: 0.5em;
}

blockquote i.icon.quote {
  position: absolute;
  opacity: 0.3;
}

blockquote i.icon.left.quote {
  left: -1.5em;
}

blockquote i.icon.right.quote {
  right: -1.5em;
}


@media only screen and (max-width: 767px) {
html, body {
  font-size: 14px;
}
.Relation-wrapper {
  padding-left: 0;
  margin-left: 3rem;
  margin-right: -1rem;
}
.Relation-wrapper article:last-child .Relation {
  margin-bottom: 0;
}
.Relation-wrapper article:last-child .Note-content {
  margin-bottom: -1rem!important;
}
.Note-header {
  margin-top: -1rem!important;
  margin-bottom: 0.25rem!important;
  border-bottom: none!important;
}
.Note-content {
  margin-bottom: 1rem!important;
  padding-left: 1rem;
  border-left: 2px solid #00b5ad;
}
.App-footer .wrapper {
  padding-left: 0;
  padding-right: 0;
}
.App-header .wrapper {
  margin-left: 0!important;
}
.Home-body {
  margin: 2rem 2rem 2rem 3rem;
}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
