.App {
  display: flex;
  position: relative;
  left: 0;
  margin-left: -20rem;
  min-height: 100vh;
}

.App .App-name {
  font-family: 'Jacques Francois Shadow', cursive;
}

.App .App-description {
  font-family: 'Arvo', serif;
}

.App .Sidebar {
  padding: 1rem;
  background-color: hsla(45,95%,95%,1);
  box-shadow: inset 0 0 2rem hsla(45,50%,80%,1);
  border-right: 1px #fff solid;
  box-sizing: border-box;
  width: 80%;
  max-width: 20rem;
  flex: none;
}

.App .App-main {
  flex-grow: 1;
}

.Header {
  padding: 1rem 0;
  background-color: #fff;
  margin-bottom: 1rem;
}

.Header .App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.Header .icon {
  margin: 0.7rem 0 0 0;
  opacity: 0.5;
  font-size: 1.5rem;
  cursor: pointer;
}

.Header .green.icon,
.Header .red.icon,
.Header .blue.icon,
.Header .yellow.icon {
  opacity: 1;
  cursor: default;
}

.Header .blue.icon {
  cursor: progress;
}

.Body-wrapper {
  padding-bottom: 2rem;
}

.Body-wrapper .Home {
  margin: 2rem 3rem 2rem 4rem;
}

.Body-wrapper .Body {
  display: flex;
}

.Menu-wrapper {
  flex: none;
  width: 4rem;
}

.Menu, .YearMark {
  padding-left: 0!important;
  text-align: right!important;
  font-family: monospace;
}

.Menu .Time {
  font-size: 0.85em;
  opacity: 0.7;
  margin-left: -1rem;
  margin-top: 0.25em;
  display: block;
}

.YearMark {
  font-weight: bold!important;
  padding-top: 0.5em!important;
  padding-bottom: 0.5em!important;
  margin-top: 0.5em!important;
  margin-bottom: 0.5em!important;
  background-color: #d4d4d5!important;
}

.Relation-wrapper {
  flex-grow: 1;
  padding-left: 2rem;
}

.Filter-message {
  color: rgba(0,0,0,0.7);
  font-size: 0.85rem;
  text-align: center;
}

.Relation-wrapper .Timestamp {
  font-size: 0.85rem!important;
  font-family: monospace;
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.Relation-wrapper .Relation-block.active {
  border: 2px #e03997 solid;
  margin: -1px!important;
}

.Relation-block .description {
  margin-top: -0.5em;
  color: rgba(0,0,0,0.7);
  font-size: 0.85rem;
}

.Relation-block a {
  opacity: 0.85;
}

.Relation-block .ui.horizontal.label {
  margin: 0 0.3em;
  color: inherit;
}

.Relation-block .ui.horizontal.label:first-child {
  margin-left: 0;
}

.Relation-block .ui.horizontal.label:last-child {
  margin-right: 0;
}

.Relation-block blockquote {
  margin: 1rem 1.5rem;
  position: relative;
  color: rgba(0,0,0,0.7);
}

.Relation-block blockquote .Author {
  font-size: 0.85rem;
  color: rgba(0,0,0,0.5);
  text-align: right;
  margin-right: -1rem;
  margin-top: 1em;
}

.Relation-block blockquote i.icon.quote {
  position: absolute;
  opacity: 0.3;
}

.Relation-block blockquote i.icon.left.quote {
  left: -1.5em;
}

.Relation-block blockquote i.icon.right.quote {
  right: -1.5em;
}

.Note-header {
  font-size: 0.85rem!important;
  font-weight: normal!important;
}

.Note-content {
  color: rgba(0,0,0,0.7);
}

.Footer {
  color: rgba(0,0,0,0.5);
  font-size: 0.85rem;
}

.Footer a {
  margin: 0 0.5rem;
  opacity: 0.7;
  display: inline-block;
}

.Footer .wrapper {
  margin: 0 auto;
  padding: 0 4rem 2rem 4rem; 
}


@media only screen and (max-width: 767px) {
html, body {
  font-size: 14px;
}
.Home {
  margin: 2rem 2rem 2rem 3rem;
}
.Body {
  margin: 0 -1rem;
}
.Relation-wrapper {
  padding-left: 0;
}
.Relation-wrapper article:last-child .grid .five.wide.column {
  margin-bottom: -1rem!important;
}
.Note-header {
  margin-top: -1rem!important;
  margin-bottom: 0.25rem!important;
  border-bottom: none!important;
}
.Note-content {
  margin-bottom: 1rem!important;
  padding-left: 1rem;
  border-left: 2px solid #00b5ad;
}
.Footer .wrapper {
  padding-left: 0;
  padding-right: 0;
}
.Header .wrapper {
  margin-left: 0!important;
}
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
